body {
  margin-top: 4rem;
  background: #485052;
  background-size: 300%;
  opacity: 100%;
  font-family: 'DM Sans';
}
body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'DM Sans';
}
body img {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}
body h1 {
  color: white;
  margin-top: 4rem;
  margin-bottom: 0.1rem;
  margin-inline: auto;
  font-size: 3rem;
}
body p {
  height: 10rem;
  width: 27rem;
  margin-inline: auto;
  margin-top: 1rem;
  color: white;
  margin-inline: auto;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 2rem;
}
input {
  text-align: center;
  height: 4.7rem;
  width: 34rem;
  font-size: 1.5rem;
}

body button {
  background-color: #9370db;
  text-decoration-color: black;
  justify-content: center;
  margin-inline: auto;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.8rem;
  text-align: center;
  width: 32.5rem;
  padding: 2rem;
  margin-top: 1.5rem;
  border-radius: 4rem;
}
