body {
  background-color: black;
}
body div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body img {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline: auto;
}
body h1 {
  color: white;
  margin-left: 25rem;
  margin-inline: auto;
}
body p {
  color: white;
  margin-left: 24rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}
body div input {
  margin-inline: auto;
  width: 27rem;
  text-align: center;
  padding: 2rem;
}
body button {
  justify-content: center;
  margin-inline: auto;
  text-align: center;
  width: 31.5rem;
  padding: 2rem;
  margin-top: 0.3rem;
}
